#### TDI Data Science Task 4 || Ezinne Okechukwu || 30th August, 2024.

#### Employee Data Management and Analysis System: Insights and Reporting

Project Note: The scope of this project is strictly based on Python. All tasks, including data manipulation, analysis, and reporting, should be implemented using Python programming language only. External packages such as NumPy, Pandas, and similar libraries are not allowed for this project. The dataset is available [here](https://www.google.com/url?q=https%3A%2F%2Fdrive.google.com%2Ffile%2Fd%2F1ufNQNAqyzaWYvEG1JIaxCN1M5CLy8w17%2Fview%3Fusp%3Ddrive_link).

In [1]:
# import json to read file
import json

In [2]:
# load data from json file
with open('employees_data.json', 'r') as file:
    data = json.load(file)
# accessing data
for item in data:
    for key, value in item.items():
        print(f"{key}: {value}")
    print()

empID: E001
fullName: John Smith
department: Finance
position: Financial Analyst
experienceLevel: Senior
salary: N 750000

empID: E002
fullName: Jane Doe
department: Finance
position: Accountant
experienceLevel: Mid-Level
salary: N 600000

empID: E003
fullName: Alice Johnson
department: Human Resources
position: HR Manager
experienceLevel: Senior
salary: N 700000

empID: E004
fullName: Robert Brown
department: Human Resources
position: Recruiter
experienceLevel: Junior
salary: N 400000

empID: E005
fullName: Michael Davis
department: IT
position: Software Engineer
experienceLevel: Senior
salary: N 850000

empID: E006
fullName: Emily Wilson
department: IT
position: System Administrator
experienceLevel: Mid-Level
salary: N 700000

empID: E007
fullName: David Taylor
department: Marketing
position: Marketing Specialist
experienceLevel: Mid-Level
salary: N 550000

empID: E008
fullName: Laura Thomas
department: Marketing
position: Content Writer
experienceLevel: Junior
salary: N 450000

empID: E009
fullName: James Moore
department: Sales
position: Sales Manager
experienceLevel: Senior
salary: N 850000

empID: E010
fullName: Patricia Lee
department: Sales
position: Sales Representative
experienceLevel: Junior
salary: N 400000

empID: E011
fullName: Brian Harris
department: Operations
position: Operations Manager
experienceLevel: Senior
salary: N 800000

empID: E012
fullName: Sarah Clark
department: Operations
position: Logistics Coordinator
experienceLevel: Mid-Level
salary: N 600000

empID: E013
fullName: Kevin Martinez
department: Customer Service
position: Customer Service Manager
experienceLevel: Senior
salary: N 700000

empID: E014
fullName: Jessica Lewis
department: Customer Service
position: Support Representative
experienceLevel: Junior
salary: N 350000

empID: E015
fullName: George Walker
department: Legal
position: Legal Advisor
experienceLevel: Senior
salary: N 900000

empID: E016
fullName: Sophia Hall
department: Legal
position: Paralegal
experienceLevel: Mid-Level
salary: N 600000

empID: E017
fullName: Daniel Allen
department: Finance
position: Tax Specialist
experienceLevel: Mid-Level
salary: N 620000

empID: E018
fullName: Megan Wright
department: Finance
position: Budget Analyst
experienceLevel: Mid-Level
salary: N 630000

empID: E019
fullName: Ryan King
department: IT
position: Network Engineer
experienceLevel: Mid-Level
salary: N 750000

empID: E020
fullName: Olivia Scott
department: IT
position: DevOps Engineer
experienceLevel: Senior
salary: N 820000

empID: E021
fullName: Ethan Green
department: Marketing
position: SEO Specialist
experienceLevel: Mid-Level
salary: N 550000

empID: E022
fullName: Madison Baker
department: Marketing
position: Graphic Designer
experienceLevel: Junior
salary: N 420000

empID: E023
fullName: Jacob Adams
department: Sales
position: Account Executive
experienceLevel: Mid-Level
salary: N 650000

empID: E024
fullName: Emma Nelson
department: Sales
position: Sales Coordinator
experienceLevel: Junior
salary: N 400000

empID: E025
fullName: Alexander Carter
department: Operations
position: Supply Chain Manager
experienceLevel: Senior
salary: N 850000

empID: E026
fullName: Ava Mitchell
department: Operations
position: Inventory Specialist
experienceLevel: Mid-Level
salary: N 520000

empID: E027
fullName: Logan Perez
department: Customer Service
position: Call Center Supervisor
experienceLevel: Mid-Level
salary: N 540000

empID: E028
fullName: Isabella Roberts
department: Customer Service
position: Technical Support
experienceLevel: Junior
salary: N 380000

empID: E029
fullName: William Turner
department: Legal
position: Compliance Officer
experienceLevel: Senior
salary: N 800000

empID: E030
fullName: Amelia Phillips
department: Legal
position: Contract Manager
experienceLevel: Mid-Level
salary: N 620000

empID: E031
fullName: Mason Campbell
department: Finance
position: Auditor
experienceLevel: Senior
salary: N 700000

empID: E032
fullName: Lily Evans
department: Finance
position: Financial Planner
experienceLevel: Senior
salary: N 720000

empID: E033
fullName: Elijah Edwards
department: IT
position: Data Scientist
experienceLevel: Senior
salary: N 850000

empID: E034
fullName: Charlotte White
department: IT
position: Cybersecurity Analyst
experienceLevel: Mid-Level
salary: N 750000

empID: E035
fullName: Lucas Collins
department: Marketing
position: Brand Manager
experienceLevel: Senior
salary: N 680000

empID: E036
fullName: Sofia Rodriguez
department: Marketing
position: Digital Marketing Specialist
experienceLevel: Mid-Level
salary: N 550000

empID: E037
fullName: Henry Hill
department: Sales
position: Sales Director
experienceLevel: Senior
salary: N 900000

empID: E038
fullName: Zoe Parker
department: Sales
position: Sales Associate
experienceLevel: Junior
salary: N 380000

empID: E039
fullName: Liam Walker
department: Operations
position: Operations Analyst
experienceLevel: Mid-Level
salary: N 580000

empID: E040
fullName: Mia Scott
department: Operations
position: Procurement Specialist
experienceLevel: Junior
salary: N 450000

empID: E041
fullName: Nathan Young
department: Customer Service
position: Customer Experience Manager
experienceLevel: Senior
salary: N 700000

empID: E042
fullName: Layla Martinez
department: Customer Service
position: Client Relations Specialist
experienceLevel: Mid-Level
salary: N 550000

empID: E043
fullName: Oliver Lopez
department: Legal
position: Legal Counsel
experienceLevel: Senior
salary: N 900000

empID: E044
fullName: Chloe Gonzalez
department: Legal
position: Legal Secretary
experienceLevel: Junior
salary: N 400000

empID: E045
fullName: Jayden Roberts
department: Finance
position: Investment Analyst
experienceLevel: Mid-Level
salary: N 670000

empID: E046
fullName: Ella Clark
department: Finance
position: Financial Consultant
experienceLevel: Senior
salary: N 800000

empID: E047
fullName: Noah Mitchell
department: IT
position: Cloud Architect
experienceLevel: Senior
salary: N 900000

empID: E048
fullName: Grace Lee
department: IT
position: IT Support Specialist
experienceLevel: Junior
salary: N 400000

empID: E049
fullName: Aiden King
department: Marketing
position: Market Research Analyst
experienceLevel: Mid-Level
salary: N 600000

empID: E050
fullName: Harper Adams
department: Marketing
position: Public Relations Specialist
experienceLevel: Mid-Level
salary: N 620000

#### 1. Determine the total number of unique departments within the company.

In [3]:
# use set to get unique departments in the dataset
dept = {data["department"] for data in data}
print("These are the departments in the company: ")
i = 1
for item in dept:
    print(f"{i}. {item}")
    i = i + 1
print(f"Therefore, there are {i-1} departments in the company.")

These are the departments in the company:
1. Legal
2. Marketing
3. Finance
4. IT
5. Operations
6. Sales
7. Customer Service
8. Human Resources
Therefore, there are 8 departments in the company.

#### 2. List the top 5 highest-paid employees, sorted in descending order by their monthly salary

In [4]:
# use lamda function to sort the employee's salary
sorted_employee = sorted(data, key=lambda x: x['salary'], reverse= True)

# use slicing to get the top 5 salaries
sorted_employee = sorted_employee[:5]
print("Top 5 Highest Paid Employees: ")
i = 1

# iterate to print employee's name and salary
for employee in sorted_employee:
    print(f"{i}. {employee['fullName']}: {employee['salary']}")
    i += 1

Top 5 Highest Paid Employees:
1. George Walker: N 900000
2. Henry Hill: N 900000
3. Oliver Lopez: N 900000
4. Noah Mitchell: N 900000
5. Michael Davis: N 850000

#### 3. Compute and present the average monthly salary of all employees in the company.

In [5]:
# create an empty list
salaries = []

for item in data:
    # slice the salary to remove naira symbol and convert datatype to integer
    data_salary = int(item["salary"][1:])
    # add salary to salaries list
    salaries.append(data_salary)

# calculate the average salary
avg_salary = sum(salaries)/len(salaries)

print(f"The average salary of all employees in the company is N{avg_salary}")

The average salary of all employees in the company is N637000.0

#### 4. Show the number of employees in each department.

In [6]:
grouped_data = {}
for item in data:
    department = item["department"]
    if department in grouped_data:
        grouped_data[department] += 1
    else:
        grouped_data[department] = 1
print("Department: Total No of Employees\n")
for key, value in grouped_data.items():
    print(f"{key}: {value}")

Department: Total No of Employees

Finance: 8
Human Resources: 2
IT: 8
Marketing: 8
Sales: 6
Operations: 6
Customer Service: 6
Legal: 6

#### 5. Provide a list of employees ranked by their salary within each department, from highest to lowest.

In [7]:
employees_sorted = sorted(data, key=lambda x: (x["department"], x["salary"]), reverse=True)

# group employees by department
grouped_employees = {}
for employee in employees_sorted:
    dept = employee["department"]
    if dept not in grouped_employees:
        grouped_employees[dept] = []
    grouped_employees[dept].append(employee)

# print sorted employees for each department
for dept, emp_list in grouped_employees.items():
    print(f"Department: {dept} \n")
    for emp in emp_list:
        print(f"{emp['fullName']} Salary: {emp['salary']}")
    print()

Department: Sales

Henry Hill Salary: N 900000
James Moore Salary: N 850000
Jacob Adams Salary: N 650000
Patricia Lee Salary: N 400000
Emma Nelson Salary: N 400000
Zoe Parker Salary: N 380000

Department: Operations

Alexander Carter Salary: N 850000
Brian Harris Salary: N 800000
Sarah Clark Salary: N 600000
Liam Walker Salary: N 580000
Ava Mitchell Salary: N 520000
Mia Scott Salary: N 450000

Department: Marketing

Lucas Collins Salary: N 680000
Harper Adams Salary: N 620000
Aiden King Salary: N 600000
David Taylor Salary: N 550000
Ethan Green Salary: N 550000
Sofia Rodriguez Salary: N 550000
Laura Thomas Salary: N 450000
Madison Baker Salary: N 420000

Department: Legal

George Walker Salary: N 900000
Oliver Lopez Salary: N 900000
William Turner Salary: N 800000
Amelia Phillips Salary: N 620000
Sophia Hall Salary: N 600000
Chloe Gonzalez Salary: N 400000

Department: IT

Noah Mitchell Salary: N 900000
Michael Davis Salary: N 850000
Elijah Edwards Salary: N 850000
Olivia Scott Salary: N 820000
Ryan King Salary: N 750000
Charlotte White Salary: N 750000
Emily Wilson Salary: N 700000
Grace Lee Salary: N 400000

Department: Human Resources

Alice Johnson Salary: N 700000
Robert Brown Salary: N 400000

Department: Finance

Ella Clark Salary: N 800000
John Smith Salary: N 750000
Lily Evans Salary: N 720000
Mason Campbell Salary: N 700000
Jayden Roberts Salary: N 670000
Megan Wright Salary: N 630000
Daniel Allen Salary: N 620000
Jane Doe Salary: N 600000

Department: Customer Service

Kevin Martinez Salary: N 700000
Nathan Young Salary: N 700000
Layla Martinez Salary: N 550000
Logan Perez Salary: N 540000
Isabella Roberts Salary: N 380000
Jessica Lewis Salary: N 350000

#### 6. Calculate the total monthly payroll expense for the company.

In [8]:
# create an empty list
salaries = []

for item in data:
    # slice the salary to remove naira symbol and convert to integer
    data_salary = int(item["salary"][1:])
    # add salary to salaries list
    salaries.append(data_salary)

# calculate the average salary
total_salary = sum(salaries)

print(f"The total salary of all employees in the company is: N {total_salary}.")

The total salary of all employees in the company is: N 31850000.

#### 7. Determine the highest and lowest salary in the company and identify the corresponding employees.

In [9]:
# use lamda function to sort the employee's salary
sorted_employee = sorted(data, key=lambda x: x['salary'])

# use slicing to get last 5 salaries since it was sorted in ascending order
highest_paid = sorted_employee[-1]
print("Highest Paid Employee:")
print(f"{highest_paid["fullName"]},  {highest_paid["salary"]}\n")

# use slicing to get the least paid employee
least_paid = sorted_employee[0]
print("Least Paid Employee:")
print(f"{least_paid["fullName"]},  {least_paid["salary"]}")

Highest Paid Employee:
Noah Mitchell,  N 900000

Least Paid Employee:
Jessica Lewis,  N 350000

#### 8. Remove all employees with a Junior experience level and calculate the number of remaining employees.

In [10]:
# set counter equal zero
i = 0

# iterate over dataset
for item in data:
    # conditional statement
    if item["experienceLevel"]  != "Junior":
        # count if condition was met
        i = i + 1
print(f"The total number of employees excluding the juniors is: {i}.")

The total number of employees excluding the juniors is: 39.