### **TDI DATA SCIENCE TRACK || WEEK 8**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("netflix_titles.csv")
df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [3]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [4]:
df.shape

(8807, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [6]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

### **Section A: Data Cleaning and Transformation**
In this section, the focus is on cleaning, manipulating, and transforming data using pandas to ensure consistency and usability.

**1.	Remove unnecessary columns like show_id, description, and director.**

In [7]:
df.drop(columns = ["show_id", "description", "director"], inplace = True)

**2.	Eliminate rows with missing values from the dataset.**

In [8]:
df.dropna(axis = "index", inplace= True)
df.shape

(7290, 9)

**3.	Convert the date_added and release_year columns into datetime format, and extract year, month, and day from date_added, along with extracting the year from release_year.**

In [9]:
df["date_added"] = pd.to_datetime(df["date_added"].str.strip())
df["year_added"] = df["date_added"].dt.year
df["month_added"] = df["date_added"].dt.month_name()
df["day_added"] = df["date_added"].dt.day_name()

In [10]:
df["release_year"].unique()

array([2021, 1993, 2020, 2018, 1998, 2010, 2013, 2017, 1975, 1978, 1983,
       1987, 2012, 2001, 2014, 2002, 2003, 2004, 2011, 2008, 2009, 2007,
       2005, 2006, 1994, 2019, 2016, 2015, 1982, 1989, 1990, 1991, 1999,
       1986, 1992, 1996, 1984, 1997, 1980, 1961, 1995, 1985, 2000, 1976,
       1959, 1988, 1972, 1981, 1964, 1954, 1979, 1958, 1956, 1963, 1970,
       1973, 1974, 1960, 1966, 1971, 1962, 1969, 1977, 1967, 1968, 1965,
       1945, 1946, 1955, 1942, 1947, 1944])

**4.	Calculate the total number of cast members for each show or movie and determine how to extract the lead actor’s name from the cast column, assuming the first actor listed is the lead.**

In [11]:
# total number of cast for each show
df["count_of_cast"] = df["cast"].str.split(",").str.len().astype(int)
df["count_of_cast"].head()

1    19
4     8
7     8
8     4
9    11
Name: count_of_cast, dtype: int64

In [12]:
# extracting the lead actor
df["lead_actor"] = df["cast"].str.split(",").str[0]
df["lead_actor"].head()

1          Ama Qamata
4          Mayur More
7        Kofi Ghanaba
8        Mel Giedroyc
9    Melissa McCarthy
Name: lead_actor, dtype: object

**6.	Standardize the duration column by converting it into an integer format.**

In [13]:
# the duration rows are either in seasons or minutes
df["duration"] = df["duration"].str.split(" ").str[0].astype(int)
df["duration"].head(3)

1      2
4      2
7    125
Name: duration, dtype: int64

**7.	Clean and capitalize the country names in the country column, ensuring no extra spaces.**

In [14]:
df["country"] = df["country"].str.strip().str.title()

**8.	Calculate how many genres each show or movie is listed under (i.e., column to be added is genre count).**

In [15]:
df["listed_in"].head()

1      International TV Shows, TV Dramas, TV Mysteries
4    International TV Shows, Romantic TV Shows, TV ...
7     Dramas, Independent Movies, International Movies
8                         British TV Shows, Reality TV
9                                     Comedies, Dramas
Name: listed_in, dtype: object

In [16]:
df["genre_count"] = df["listed_in"].str.split(",").str.len().astype(int)
df["genre_count"].head()

1    3
4    3
7    3
8    2
9    2
Name: genre_count, dtype: int64

**9.	Transform columns like listed_in -> genre, country, and cast -> actor into list format.**

In [17]:
# spliting the values in the row leads to a list data type
df["genre"] = df["listed_in"].str.split(',')
df["actor"] = df["cast"].str.split(",")
df["country"] = df["country"].str.split(",")

**10.	Explode the genre, country, and actor columns into individual rows, and remove any null values.**

In [18]:
df = df.explode("genre")
df = df.explode("country")
df = df.explode("actor")
df = df.dropna()

**11.	Filter out rows with empty country fields and drop unnecessary columns like date_added, cast, and listed_in.**

In [19]:
df.drop(columns=["date_added", "cast", "listed_in"], inplace= True)

**12.	Preview the first few rows of the cleaned and transformed dataset to verify the changes.**

In [20]:
df.head(3)

,type,title,country,release_year,rating,duration,year_added,month_added,day_added,count_of_cast,lead_actor,genre_count,genre,actor
1,TV Show,Blood & Water,South Africa,2021,TV-MA,2,2021,September,Friday,19,Ama Qamata,3,International TV Shows,Ama Qamata
1,TV Show,Blood & Water,South Africa,2021,TV-MA,2,2021,September,Friday,19,Ama Qamata,3,International TV Shows,Khosi Ngema
1,TV Show,Blood & Water,South Africa,2021,TV-MA,2,2021,September,Friday,19,Ama Qamata,3,International TV Shows,Gail Mabalane

### **Section B: Grouping and Aggregation**
This section involves using groupby and aggregation methods to derive insights from the dataset based on specific criteria. <br>Select and complete 7 of the following questions.

**1.	What is the most popular genre based on the number of movies or TV shows listed?**

In [21]:
df["genre"].mode()

0     International Movies
Name: genre, dtype: object

**2.	Which country has the highest number of movies or TV shows listed?**

In [22]:
df["country"].mode()

0    United States
Name: country, dtype: object

**3.	Which movie or TV show has the most listings?**

In [23]:
df.nlargest(1, "genre_count")[["title", "genre", "genre_count"]]

           title                   genre  genre_count
1  Blood & Water  International TV Shows            3

**4.	Which movie or TV show has the largest cast?**

In [24]:
df.nlargest(1, "count_of_cast")[["title", "genre", "count_of_cast"]]

                title        genre  count_of_cast
1854  Social Distance  TV Comedies             50

**5.	Which movie or TV show has been broadcast the most times?**

In [25]:
df["title"].value_counts().sort_values(ascending=False).nlargest(1)

title
Narcos    378
Name: count, dtype: int64

**6.	Which movie or TV show is listed in the most unique countries?**

In [26]:
df.groupby("title")["country"].value_counts().sort_values(ascending=False).nlargest(1)

title         country
Black Mirror  United Kingdom    150
Name: count, dtype: int64

**7.	Which actor has had the most lead roles?**

In [27]:
df["lead_actor"].mode()

0    Shah Rukh Khan
Name: lead_actor, dtype: object

**8.	Which actor has appeared in the most movies or TV shows?**

In [28]:
df["actor"].mode()

0     Anupam Kher
Name: actor, dtype: object

**9.	What is the most common rating assigned to movies or TV shows?**

In [29]:
df["rating"].mode()

0    TV-MA
Name: rating, dtype: object

**10.	Are there more TV shows or movies listed on Netflix?**

In [30]:
df["type"].mode()

0    Movie
Name: type, dtype: object

**11.	On which day of the week are the most movies or TV shows added to Netflix?**

In [31]:
df["day_added"].mode()

0    Friday
Name: day_added, dtype: object

**12.	In which year were the most movies or TV shows added to Netflix?**

In [32]:
df["year_added"].mode()

0    2020
Name: year_added, dtype: int32

**13.	Which month sees the highest number of movies or TV shows added to Netflix?**

In [33]:
df["month_added"].mode()

0    January
Name: month_added, dtype: object

**14.	Which release year had the most movies or TV shows?**

In [34]:
df["release_year"].mode()

0    2018
Name: release_year, dtype: int64