## TDI Data Science Track Week 7

In [1]:
# load necessary libraries
import pandas as pd

In [2]:
# load data and view first 5 rows
df = pd.read_csv("AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

**1.	Find out the missing values in each column. <br>
Perform the calculation and store the results in the variable col_missing_values.**

In [3]:
df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [4]:
col_missing_values = df[df[["name", "host_name", "last_review", "reviews_per_month"]].isna()]

**2.	Drop the column reviews_per_month as it has many values missing, and we will not use it. <br> You have to drop this column permanently as we cannot use it for any purpose.**

In [5]:
df.drop(columns= ["reviews_per_month"], inplace= True)

**3.	Drop the rows having more than 1 missing values. <br>Store the resulting DataFrame in the variable df_rows_dropped.**

In [6]:
df_rows_dropped = df[df.isna().sum(axis = 1) > 1]

**4.	Fill the 21 missing values in host_name with the value Airbnb. <br>Store your result in the variable host_total.**

In [7]:
# null values found are 5 not 21
df_rows_dropped["host_name"].isna().sum()

np.int64(5)

In [8]:
host_total= df_rows_dropped["host_name"].fillna("Airbnb")

5.	Check if any name in the Column host_name has digit(s) or number(s) in it. <br>Select correct answer below.

- This Column has 6 digits. 
- This Column has 0 digits. 
- This Column has 44,929 alphabet values.
- This Column values with spaces.

In [11]:
#This Column has 6 digits
host_total.str.contains(r'\dddddd')

#This Column has 0 digits
host_total.str.contains(r'~\d')

#This Column has 44,929 alphabet values.

#This Column values with spaces.

2854     False
6075     False
6269     False
6567     False
6605     False
8841     False
9138     False
12824    False
13059    False
15819    False
16071    False
18047    False
27777    False
32193    False
38992    False
Name: host_name, dtype: bool

**6.	Fill the 21 missing values of the column price with the mean of the column. <br>Store your result in the variable mean_df_price.**

In [12]:
df_rows_dropped["price"] = df_rows_dropped["price"].fillna(df_rows_dropped["price"].mean())

C:\Users\Ezinne\AppData\Local\Temp\ipykernel_6304\2143852667.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rows_dropped["price"] = df_rows_dropped["price"].fillna(df_rows_dropped["price"].mean())

**7.	Fill all missing values in last_review using the forward filling method. <br>Store your result in the variable ffill_review.**

In [9]:
ffill_review = df_rows_dropped.ffill()

C:\Users\Ezinne\AppData\Local\Temp\ipykernel_11072\1337739866.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ffill_review = df_rows_dropped.ffill()

**8.	Select duplicate hosts in a dataframe based on name, host_id, and price columns. <br>Perform the selection and store the results in the variable duplicate_hosts.**

In [13]:
duplicate_hosts = df_rows_dropped[df_rows_dropped.duplicated(["name", "host_id", "price"])]

**9.	Which option to set for the keep parameter when dropping all duplicates is needed? <br>
Select correct options – can be multiple:**
a)	First
b)	True
c)	False
d)	Last

b) True

**10.	Drop duplicates while keeping the first non-NaN value based on name, host_id, and price columns. <br>Perform the dropping and store the results in the variable df_unique_hosts.**

**11.	How many users in the Column room_type are Private room? <br>Count all the Private rooms in the column room_type and sum them up. <br>Store your sum in the private_rooms_counts variable.**

In [22]:
private_rooms_counts = (df_rows_dropped["room_type"]=="Private room").count()

**12.	Find the words in the Column name that contain the substring 'park'. <br>
Store your selection in the variable names_having_park.**

In [26]:
names_having_park = df_rows_dropped["name"].str.contains("park")

**13.	Replace the neighbourhood having 'Kitchen' with 'Restaurant'. <br>
Store the output in the variable kitchen_to_restaurant.**

In [33]:
kitchen_to_restaurant = df_rows_dropped["neighbourhood"].replace("Kitchen", "Restaurant")
kitchen_to_restaurant.unique()

array(['Battery Park City', 'Crown Heights', 'Williamsburg', 'Bushwick',
       'Washington Heights', 'Harlem', 'Chinatown', 'Upper West Side',
       'Fordham', 'Bedford-Stuyvesant', 'Upper East Side', 'Flatbush'],
      dtype=object)

In [35]:
df_rows_dropped.

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

**14.	Split the strings in the room_type column at (space) to find whether it is room or home/apt. <br>Store the output in the variable roomOrhome.<br>
Note: We are interested in the value at the second index once you split all the strings in the Column room_type on space.**

In [44]:
roomOrhome = df_rows_dropped["room_type"].str.split().str[-1]
roomOrhome.value_counts()

room_type
room        10
home/apt     5
Name: count, dtype: int64

**15.	Clean the column availability_365 by removing invalid values. <br>
Invalid values are defined as any host that offers a value of 0 in availability_365. <br>
Store the results in the variable df_invalid_availability.**

In [50]:
df_invalid_availability = df_rows_dropped[~df_rows_dropped["availability_365"] == 0]
df_invalid_availability.shape

(0, 15)

1.	What is/are the most common value(s) to be set in case we want to fill NaN values?
Select correct answer:
a)	Median
b)	IQR
c)	Standard Deviation
d)	Mean

**2.	Identify outliers in the minimum_nights column. Outliers are defined as any values 43 or more std to the left or right of the mean. Store the results in a new column df_nights['Min_Nights_cleaned']. Use df_nights as a copy of the original dataframe df.**

**3.	Identify outliers in the price column. Outliers are defined as any values that are 1.5 * IQR to the left or right. Store the results in a new column df_Price['Price_cleaned'].**